{
   "presets": [ "react", "es2015" ],
   "plugins":[
       "transform-es2015-spread",
       "syntax-dynamic-import",
       "transform-object-rest-spread",
       "transform-class-properties"
   ]
}